<header>
    <div class="navbar bg-primary shadow-sm ">
        <div class="navbar-brand align-item-center d-flex dostyle">
        
            <strong style="font-size:30px;"  class="pushRight">My Store</strong>
            <ul class="d-flex removeBullet">
                <li style="font-size:15px;"class="pushdown pro" > <a routerLink="products" style="color:black;">Product List</a></li>
                <li style="font-size:15px;"class="pushdown" > <a>|</a> </li>
                <li style="font-size:15px;" class="pushdown cart"> <a routerLink="cart" style="color:black;">Cart<i style="font-size:15px;" class="fas fa-shopping-cart">&nbsp;
             
                </i></a> </li>
            </ul>
           
        </div>
    </div>
</header>
